<h1 class="w3-text-red" style="text-shadow:1px 1px 0 #444">Editing Quote</h1>

<%= render 'form', quote: @quote %>

<%= link_to 'Show', @quote , class:"w3-button w3-round w3-blue" %> |
<%= link_to 'Back', quotes_path , class:"w3-button w3-round w3-blue" %>
