<!DOCTYPE html>
<html>
  <head>
    <title>Myquotes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w3-container w3-light-green">
    
    <ul>
      <a href="/static_pages/home" class="w3-button w3-round w3-deep-orange">Home</a>
      <a href="/quotes" class="w3-button w3-round w3-deep-orange">Quotes</a>
      <a href="/static_pages/help" class="w3-button w3-round w3-deep-orange">Help</a>
      <a href="/static_pages/about" class="w3-button w3-round w3-deep-orange">About</a>
    </ul>
    
    <%= yield %>
  </body>
</html>
